<h1>All Ciphers</h1>
{% if caesars %}
    <h2>Caesar Ciphers</h2>
    <ul>
    {% for caesar in caesars %}
        <li><a href="/ciphers/caesar/{{ caesar.id }}/">{{ caesar.caesar_text }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No ciphers are available.</p>
{% endif %}

{% if atbashs %}
    <h2>Atbash Ciphers</h2>
    <ul>
    {% for atbash in atbashs %}
        <li><a href="/ciphers/atbash/{{ atbash.id }}/">{{ atbash.atbash_text }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No ciphers are available.</p>
{% endif %}

{% if alphanumerics %}
    <h2>Alphanumeric Ciphers</h2>
    <ul>
    {% for alphanumeric in alphanumerics %}
        <li><a href="/ciphers/alphanumeric/{{ alphanumeric.id }}/">{{ alphanumeric.alphanumeric_text }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No ciphers are available.</p>
{% endif %}

{% if vigeneres %}
    <h2>Vigenere Ciphers</h2>
    <ul>
    {% for vigenere in vigeneres %}
        <li><a href="/ciphers/vigenere/{{ vigenere.id }}/">{{ vigenere.vigenere_text }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No ciphers are available.</p>
{% endif %}

<li><a href="/ciphers/create/">Create a New Caesar Cipher</a></li>
